{% extends 'base.html' %}

{% block title %}
    Delete Post
{% endblock %}

{% block content %}
   <div class="container">
        <h1>Delete Post</h1>
        <p>Are you sure you want to delete the post titled "{{ post.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm Delete" class="btn btn-danger">
            <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
        </form>
   </div>
{% endblock %}